/* Cấu hình chung */
body {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: color 0.3s;
}

/* Chế độ Light Mode */
body.light-mode {
  color: black;
}

/* Container chính */
.container-page {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  backdrop-filter: blur(5px);
  color: white;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px lime;
  text-align: center;
  border: 2px solid lime;
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode đổi màu khung thành trắng */
body.light-mode .container-page {
  background-color: white;
  color: black;
}

/* Tiêu đề */
h1,
h2 {
  color: lime;
  text-shadow: 0 0 10px lime;
}

body.light-mode h1,
body.light-mode h2 {
  color: dimgray;
}

/* Định dạng chữ */
p {
  font-size: 18px;
  line-height: 1.6;
}

/* Nút chuyển ngôn ngữ */
.language-switcher button {
  background-color: black;
  color: lightgreen;
  border: 2px solid lightgreen;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.language-switcher button:hover {
  background-color: lightgreen;
  color: black;
}

/* Nút chuyển chế độ tối/sáng */
.theme-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.theme-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  background-color: lightgray;
  color: dimgray;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-button:hover {
  background-color: whitesmoke;
}

.theme-button img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.theme-button:hover img {
  transform: rotate(20deg);
}

/* Địa chỉ liên hệ */
.contact {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.contact li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.contact img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

a[data-i18n="back"] {
  display: flex;
  align-items: center;
  color: forestgreen;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

a[data-i18n="back"] .arrow {
  margin-right: 8px;
  font-size: 18px;
}

a[data-i18n="back"]:hover {
  color: crimson;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

a[data-i18n="back"]:active {
  color: yellowgreen;
  transform: scale(1);
}

